<link rel="stylesheet" href="/css/project_info.css" />
<link rel="stylesheet" href="/css/media/media_project_info.css">
<div class="main-container">
  <div class="project-info">
    <h1 style="font-size: xx-large;text-decoration: underline;"><%= project.name%></h1>
    <p class="description" style="font-size: small;"><%= project.description%></p>
    <p style="font-size: medium;">Author: <b><%=project.author%></b></p>
  </div>
  <div class="bugs-container">
    <div class="add-bug">
      <p><a style="background-color: rgb(139, 93, 9); padding: 0.75rem;border-radius: 1rem;" href="/bug/<%=project._id%>">Create a Bug</a></p>
    </div>
  </div>
</div>


<div class="container mt-4 filters">
    <form id="searchAuthor" data-id="<%=project._id%>" action="/bug/<%=project._id%>/searchByAuthor" method="post">
      <div style="display: flex; flex-direction: column;">
        <input type="search" name="author_name" id="search-by-author" placeholder="Search By Author" required>
        <button type="submit" class="btn border">Search</button>
      </div>
    </form>

    <form id="searchTitle" data-id="<%=project._id%>" action="/bug/<%=project._id%>/searchByTitle" method="post">
      <div style="display: flex; flex-direction: column;">
        <input type="search" name="title" id="title" required placeholder="Search By Title">
        <button type="submit" class="btn border">Search</button>
      </div>
    </form>

    <form id="searchDescription" data-id="<%=project._id%>" action="/bug/<%=project._id%>/searchByDescription" method="post">
      <div style="display: flex; flex-direction: column;">
        <input type="search" name="description" id="description" required placeholder="Search By description">
        <button type="submit" class="btn border">Search</button>
      </div>
    </form>

    <form id="searchLabel" data-id="<%=project._id%>" action="/bug/<%=project._id%>/searchByLabels" method="post">
      <div style="display: flex; flex-direction: column;">
          <select id="labels" name="labels" multiple size="3" required>
            <%for(let label of project.labels){%>
                <option value="<%=label%>"><%=label%></option>
            <%}%>
          </select>
          <button type="submit" class="btn border">Search</button>
        </div>
    </form>
</div>
<div id="issue-container">
    <% if(bugs.length ==0 ){%>
        <p style="text-align: center;">No Bugs Found</p>
        <%}else{%>
            
            <% for(let bug of bugs){%>
                <div class="bug">
                    <h5><%=bug.title%></h5>
                    <div class="info">
                      <div style="width: 70%;">
                        <p>
                            <%=bug.description%>
                        </p>
                      </div>
                      <div style="width: 30%; display: flex; align-items: flex-end; flex-direction: column;">
                        <p><b>Label</b> : <%= bug.labels%></p>
                        <p><b>Author</b> : <%=bug.author%></p>
                      </div>
                    </div>
                  </div>
            <%}%>
        <%}%>
</div>

<script src="/js/project_info.js"></script>


